{% extends 'index.html' %}

{% block content %}
    <!--
    <table align="center" border="0">
        <tr><th colspan="2">Registration Page</th></tr>
        {% for x in form %}
        <tr>
            <th>{{ x.label }}</th>    
            <th>{{ x }}</th>
        </tr>
        {% endfor %}
        <tr>
            <th colspan="2"><button type="submit" class="btn-btn-primary">save</button></th>
        </tr>
    </table>
-->
{% if request.session.contact %}
    <h1>You Are Already a Member</h1>
{% else %}

    <form action="{% url 'registration' %}" method="POST">
        {% csrf_token %}
        <table align="center" border="0">
            <tr>
                <th colspan="2"><h1>Registration Page</h1></th>
            </tr>
            <tr>
                <th>{{ form.name.label }}</th>
                <th>{{ form.name }}</th>
            </tr>
            <tr>
                <th>{{ form.contact.label }}</th>
                <th>{{ form.contact }}</th>
            </tr>
            <tr>
                <th>{{ form.email.label }}</th>
                <th>{{ form.email }}</th>
            </tr>
            <tr>
                <th>{{ form.password.label }}</th>
                <th>{{ form.password }}</th>
            </tr>
                
            <tr>    
                <th><input type="hidden" name="otp" required id="id_otp" value="0"></th>
            </tr>
        </table>
        <table align="center">
            <tr><th colspan="2"><button type="submit" class="btn btn-success">Save</button></th></tr>
        </table>
    </form>
{% endif %}
{% endblock %}